# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment directories
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional: exclude processed data or large files)
data/raw/
data/processed/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Outputs from Jupyter and other tools
*.out
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea
